sharp/test.json
[
    {
        "id": "93cd30c4e95b07b9",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "https://source.unsplash.com/random",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 350,
        "y": 380,
        "wires": [
            [
                "5189c673ba39417e"
            ]
        ]
    },
    {
        "id": "2e104a9619b57be2",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "url": "/test-sharp",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 380,
        "wires": [
            [
                "93cd30c4e95b07b9"
            ]
        ]
    },
    {
        "id": "0fba6de2e5087f2c",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 850,
        "y": 380,
        "wires": []
    },
    {
        "id": "5189c673ba39417e",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "image/jpeg",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 380,
        "wires": [
            [
                "ea13ba8d9a07fee4"
            ]
        ]
    },
    {
        "id": "e894e2204a0a6fb3",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Tests the Sharp library integration",
        "info": "",
        "x": 210,
        "y": 340,
        "wires": []
    },
    {
        "id": "ea13ba8d9a07fee4",
        "type": "sharp",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "x": 710,
        "y": 380,
        "wires": [
            [
                "0fba6de2e5087f2c"
            ]
        ]
    }
]