sharp/test.json
[
    {
        "id": "93cd30c4e95b07b9",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "https://source.unsplash.com/random",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 350,
        "y": 240,
        "wires": [
            [
                "5189c673ba39417e"
            ]
        ]
    },
    {
        "id": "2e104a9619b57be2",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "url": "/test-sharp",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "93cd30c4e95b07b9"
            ]
        ]
    },
    {
        "id": "0fba6de2e5087f2c",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 910,
        "y": 240,
        "wires": []
    },
    {
        "id": "5189c673ba39417e",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "image/jpeg",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 240,
        "wires": [
            [
                "66c9ffdde6e2243a"
            ]
        ]
    },
    {
        "id": "e894e2204a0a6fb3",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Tests the Sharp library integration",
        "info": "",
        "x": 190,
        "y": 200,
        "wires": []
    },
    {
        "id": "cb350e753296379c",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "url": "/test-sharp-2",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "4482c4c204eb1902"
            ]
        ]
    },
    {
        "id": "4482c4c204eb1902",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "https://source.unsplash.com/random",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 350,
        "y": 320,
        "wires": [
            [
                "efd1ec7e516664b5"
            ]
        ]
    },
    {
        "id": "efd1ec7e516664b5",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "image/gif",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "sharpWidth",
                "pt": "msg",
                "to": "640",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "sharpHeight",
                "pt": "msg",
                "to": "480",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "sharpOptions",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "sharpOptions.colours",
                "pt": "msg",
                "to": "8",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 320,
        "wires": [
            [
                "7659a372735acf1f"
            ]
        ]
    },
    {
        "id": "046838f35cf89cb9",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 910,
        "y": 320,
        "wires": []
    },
    {
        "id": "66c9ffdde6e2243a",
        "type": "sharp-resize",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "width": "600",
        "height": "300",
        "fit": "contain",
        "position": "right top",
        "gravity": "centre",
        "x": 730,
        "y": 240,
        "wires": [
            [
                "0fba6de2e5087f2c"
            ]
        ]
    },
    {
        "id": "2ac796a88c11e50d",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "url": "/test-sharp-not",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 400,
        "wires": [
            [
                "1c74857d94014720"
            ]
        ]
    },
    {
        "id": "1c74857d94014720",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "This is not a picture",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 400,
        "wires": [
            [
                "04c538f2346ddfc7"
            ]
        ]
    },
    {
        "id": "04c538f2346ddfc7",
        "type": "sharp-resize",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "width": 0,
        "height": 0,
        "fit": "cover",
        "position": "centre",
        "gravity": "centre",
        "x": 730,
        "y": 400,
        "wires": [
            [
                "1750af11a7f412c8"
            ]
        ]
    },
    {
        "id": "1750af11a7f412c8",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 910,
        "y": 400,
        "wires": []
    },
    {
        "id": "e6292a98dc683809",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 460,
        "wires": []
    },
    {
        "id": "6fa92b3ea4ab9eec",
        "type": "catch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "scope": [
            "66c9ffdde6e2243a",
            "c7981707e4c43619",
            "04c538f2346ddfc7"
        ],
        "uncaught": false,
        "x": 410,
        "y": 460,
        "wires": [
            [
                "e6292a98dc683809"
            ]
        ]
    },
    {
        "id": "7659a372735acf1f",
        "type": "sharp-convert",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "format": "gif",
        "x": 720,
        "y": 300,
        "wires": [
            [
                "84e93bb1e8552192"
            ]
        ]
    },
    {
        "id": "84e93bb1e8552192",
        "type": "sharp-resize",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "width": 0,
        "height": 0,
        "fit": "cover",
        "position": "centre",
        "gravity": "centre",
        "x": 750,
        "y": 340,
        "wires": [
            [
                "046838f35cf89cb9"
            ]
        ]
    }
]